footer
{
    background-color: $color-footer;
    color: white;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 70px;

    h1
    {
        letter-spacing: 2px;
        font-size: 1em;
        margin-left: $margin-left-h1-footer;
        padding-bottom: 25px;
    }

    ul
    {
        list-style-type: none;
        
        li
        {
            line-height: 30px;
            margin-left: $margin-left-li-footer;
        }
            a
            {
                @include a-modif;
                color: white;

                &.iconfooter
                {
                    margin-left: $margin-left-li-footer;
                }
            }
    }
}