footer
{
    background-color: $color-footer;
    color: white;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;

    img
    {
        width: 39%;
        margin-left: $margin-left-h1-footer;
        padding-bottom: 5px;
    }

    ul
    {
        list-style-type: none;
        margin-left: $margin-left-li-footer - 45px;
        
        li
        {
            line-height: 30px;
            margin-left: $margin-left-li-footer;
        }
            a
            {
                @include a-modif;
                color: white;

                &.iconfooter
                {
                    margin-left: $margin-left-li-footer;
                }
            }
    }
}