header
{  
    width: 50%;
    margin-top: 20px;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    img
    {
        width: 80%;
        object-fit: cover;
        margin-left: 80px;
    }

    a
    {
        @include a-modif;
    }
}