body
{
    margin: 0;
    font-family: 'roboto', sans-serif;
}

h1
{
    font-family: 'Shrikhand', sans-serif;
}

main 
{
    img
    {
        width: 100%;
        object-fit: cover;
        position: absolute;
        margin-top: $margin-bottom-img-section;
    }
}