.card_menu
{
    margin: auto;
    border: 0px white solid;
    background-color: white;
    border-radius: 20px;
    height: 250px;
    margin-right: $margin-card;
    margin-left: $margin-card;
    margin-bottom: $margin-card;
    @include box-shadow;
    position: relative;

    a 
    {
        @include a-modif
    }

    .news
    {
        @include block-news;

        p
        {
            color: darken($color-tertiary, 35);
            font-weight: bold;
            margin-top: 5px;
        }
    }

    img
    {
        border-radius: 20px 20px 0px 0px;
        width: 100%;
        height: 174px;
        object-fit: cover;
    }

    .card-body
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include margin-interior-card
    }

    .card-title
    {
        line-height: 7px;
    }
}

.card
{
    @include card;

    .card-title
    {
        display: flex;
        align-items: center;
        font-weight: $card-title-bold;
        margin-left: $margin-card + 5px;
    }

    .card-body
    {
        display: flex;
        justify-content: space-between;
        @include margin-card-body;
    }
}

.last_menu
{
    margin-bottom: 50px;
}