section
{
    background-color: $color-section;
    width: 100%;
    @include border-section;
    margin-top: $margin-top-section;
    position: relative;
    z-index: 1;

    .titlemenu
    {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .entreemenu h2, .platmenu h2, .dessertmenu h2
    {
        @include underline-title-menu;
        margin-left: $margin-card;
    }
}