.section_homepage
{
    background-color: $color-section;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h2 
    {
        margin-left: $margin-card;
        margin-top: $margin-card + 45px;
    }
}

.section_pagemenu
{
    background-color: $color-section;
    width: 100%;
    @include border-section;
    margin-top: $margin-top-section;
    position: relative;
    z-index: 1;

    .titlemenu
    {
        @include margin-title-menu;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .entreemenu h2, .platmenu h2, .dessertmenu h2
    {
        @include underline-title-menu;
        margin-left: $margin-card;
    }

    .platmenu, .dessertmenu
    {
        margin-top: $margin-top-card;
    }
}