@mixin underline-title-menu
{
    border-bottom: 3px $color-tertiary solid;
    height: 35px;
    width: 43px;
}

@mixin border-section
{
    border-radius: 50px 50px 0px 0px;
}

@mixin box-shadow
{
    -webkit-box-shadow: 2px 2px 12px -11px rgba(0,0,0,0.95); 
    box-shadow: 2px 2px 12px -11px rgba(0,0,0,0.95);
}

@mixin margin-title-menu
{
    margin: $margin-card +50px $margin-card +20 $margin-card $margin-card +5px;
}

@mixin card
{
    background-color: white;
    margin-right: $margin-card;
    margin-left: $margin-card;
    margin-top: $margin-card;
    border-radius: 20px;
    height: 80px;

}

@mixin margin-card-body
{
    margin-left: $margin-card + 5px;
    margin-top: $margin-card - 40px;
    margin-right: $margin-card + 5px;
}

@mixin a-modif
{
    text-decoration: none;
    color: black;
}

@mixin padding-btn
{
    padding: 5px 60px 5px 60px;
}

@mixin color-btn
{
    background: linear-gradient(to bottom right, $color-secondary, $color-primary);
}

@mixin btn
{
    background: linear-gradient(to bottom right, $color-secondary, $color-primary);
    color: white;
    @include padding-btn; 
    border-radius: $border-radius-btn;
    border: none;
    margin-top: 63px;
    margin-bottom: 104px;
    margin-left: 82px;
    margin-right: 82px;

    &:hover
    {
        background: linear-gradient(to right bottom, lighten($color-secondary, 5), lighten($color-primary, 5))
    }
}

@mixin btn-heart
{
    border: none;
    background-color: white;
    height: 20px;
}

@mixin btn-homepage
{
    white-space: nowrap;
    padding: 15px 20px 15px 20px;
    margin-top: $margin-card;
}

@mixin margin-interior-card
{
    margin-left: 15px;
    margin-right: 15px;
}

@mixin block-news
{
    height: 30px;
    width: 80px;
    text-align: center;
    margin-top: 15px;
    margin-left: 245px;
    position: absolute;
    border: 2px $color-tertiary solid;
    background-color: $color-tertiary;
    border-radius: 2px;
}