$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$color-section: rgb(246 246 246);
$margin-top-section: 220px;
$margin-bottom-img-section: -200px;
$margin-card: 15px;
$card-title-bold: bold;

$font-size-btn : 2.5em;
$border-radius-btn: 60px;

$color-footer: rgb(53 53 53);
$margin-left-li-footer: 15px;
$margin-left-h1-footer: 60px;