$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$color-homepage-localisation: #EAEAEA;
$color-homepage-border-top: #D5D5D5;
$color-homepage-hautdepage: #F6F6F6;

$color-section: rgb(246 246 246);
$margin-top-section: 220px;
$margin-top-img-section: -200px;
$margin-card: 15px;
$card-title-bold: bold;

$border-radius-btn: 60px;

$color-footer: rgb(53 53 53);
$margin-left-li-footer: 15px;
$margin-left-h1-footer: 25px;
$margin-top-card: 40px;